 <!--
    Exibir a animação do componente spinner
 -->
 <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="timer"
>
    <p style="font-size: 20px; color: white">Processando, por favor aguarde...</p>
</ngx-spinner>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4">
    <div class="text-center">
      <h2 class="card-title text-center">Autenticação de Usuários</h2>
      <p>Entre com suas credenciais de acesso.</p>
      <hr />
    </div>

    <div class="mb-2 text-success text-center">
      <strong>{{mensagem_sucessoAutenticar}}</strong>
    </div>

    <div class="mb-2 text-danger text-center">
      <strong>{{mensagem_erroAutenticar}}</strong>
    </div>

    <form [formGroup]="formAutenticar" (ngSubmit)="onAutenticarSubmit()">

      <div class="mb-3">
        <label for="email" class="form-label">Email de acesso</label>
        <input type="email" class="form-control" id="email" formControlName="email"
          placeholder="Digite seu email" required>
        <div *ngIf="autenticar.email.touched && autenticar.email.invalid" class="text-danger">
          <span *ngIf="autenticar.email.errors.required">
            Por favor, informe o email de acesso.
          </span>
          <span *ngIf="autenticar.email.errors.email">
            Por favor, informe um endereço de email válido.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha de acesso</label>
        <input type="password" class="form-control" id="senha" formControlName="senha"
          placeholder="Digite sua senha" required>
        <div *ngIf="autenticar.senha.touched && autenticar.senha.invalid" class="text-danger">
          <span *ngIf="autenticar.senha.errors.required">
            Por favor, informe sua senha de acesso.
          </span>
          <span *ngIf="autenticar.senha.errors.pattern">
            Por favor, informe uma senha forte.
          </span>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" [disabled]="!formAutenticar.valid">
          Entrar no Sistema
        </button>
      </div>

    </form>

    <div class="text-center mt-3">
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalRecuperarSenha"
        class="text-decoration-none">
        Esqueci minha senha
      </a>
      <span class="mx-2">|</span>
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalCadastro"
        class="text-decoration-none">
        Crie sua Conta!
      </a>
    </div>
  </div>
</div>

<!-- Modal para cadastro de usuário -->
<div class="modal fade" id="modalCadastro" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2>Criação de Conta de usuário</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <p class="text-center">Preencha os seus dados para criar uma conta de acesso.</p>

        <div class="mb-2 text-success text-center">
          <strong>{{mensagem_sucessoCriarConta}}</strong>
        </div>
   
        <div class="mb-2 text-danger text-center">
          <strong>{{mensagem_erroCriarConta}}</strong>
        </div>

        <form [formGroup]="formCriarConta" (ngSubmit)="onCriarContaSubmit()">

            <div class="mb-2">
              <label>Nome do usuário:</label>
              <input type="text" class="form-control" placeholder="Digite aqui"
                formControlName="nome"/>
                <div *ngIf="criarConta.nome.touched && criarConta.nome.invalid"
                  class="text-danger">
                  <span *ngIf="criarConta.nome.errors.required">
                    Por favor, informe o seu nome.
                  </span>
                  <span *ngIf="criarConta.nome.errors.minlength">
                    Por favor, informe no mínimo 8 caracteres.
                  </span>
                </div>
            </div>

            <div class="mb-3">
              <label>Email:</label>
              <input type="text" class="form-control" placeholder="Digite aqui"
                formControlName="email"/>
                <div *ngIf="criarConta.email.touched && criarConta.email.invalid"
                  class="text-danger">
                  <span *ngIf="criarConta.email.errors.required">
                    Por favor, informe o seu email.
                  </span>
                  <span *ngIf="criarConta.email.errors.email">
                    Por favor, informe um endereço de email válido.
                  </span>
                </div>
            </div>

            <div class="mb-3">
              <label>Senha:</label>
              <input type="password" class="form-control" placeholder="Digite aqui"
                formControlName="senha"/>
                <div *ngIf="criarConta.senha.touched && criarConta.senha.invalid"
                  class="text-danger">
                  <span *ngIf="criarConta.senha.errors.required">
                    Por favor, informe a sua senha.
                  </span>
                  <span *ngIf="criarConta.senha.errors.pattern">
                    Por favor, informe uma senha forte.
                  </span>
                </div>
            </div>

            <div class="mb-3">
              <label>Confirme a sua senha:</label>
              <input type="password" class="form-control" placeholder="Digite aqui"
                formControlName="senhaConfirmacao"/>
                <div *ngIf="criarConta.senhaConfirmacao.touched && criarConta.senhaConfirmacao.invalid"
                class="text-danger">
                <span *ngIf="criarConta.senhaConfirmacao.errors.required">
                  Por favor, confirme a sua senha.
                </span>
              </div>
            </div>

            <div class="mb-3 d-grid">
              <button class="btn btn-success" [disabled]="!formCriarConta.valid">
                Realizar Cadastro
              </button>
            </div>

        </form>
       
      </div>
    </div>
  </div>
</div>

<!-- Modal para recuperação de senha de usuário -->
<div class="modal fade" id="modalRecuperarSenha" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2>Recuperação de senha de usuário</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <p class="text-center">Preencha o email para recuperar a sua senha.</p>

        <div class="mb-2 text-success text-center">
          <strong>{{mensagem_sucessoRecuperarSenha}}</strong>
        </div>
   
        <div class="mb-2 text-danger text-center">
          <strong>{{mensagem_erroRecuperarSenha}}</strong>
        </div>
       
        <form [formGroup]="formRecuperarSenha" (ngSubmit)="onRecuperarSenhaSubmit()">

          <div class="mb-3">
            <label>Email:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
              formControlName="email"/>
              <div *ngIf="recuperarSenha.email.touched && recuperarSenha.email.invalid"
                class="text-danger">
                <span *ngIf="recuperarSenha.email.errors.required">
                  Por favor, informe o seu email.
                </span>
                <span *ngIf="recuperarSenha.email.errors.email">
                  Por favor, informe um endereço de email válido.
                </span>
              </div>
          </div>

          <div class="mb-3 d-grid">
            <button class="btn btn-primary" [disabled]="!formRecuperarSenha.valid">
              Confirmar Recuperação da Senha
            </button>
          </div>

        </form>
       
      </div>
    </div>
  </div>
</div>